---
title: 'Social science in a hurry'
summary: 'How reporters turn numbers into news using a database state of mind'
week: 1
---

<iframe
  class="lesson-deck"
  src="https://palewi.re/docs/sva-dvc-3342a-slide-deck/lectures/social-science-in-a-hurry/?controls=1#/1"
  title="Social science in a hurry lecture deck"
  width="100%"
  height="600"
  loading="lazy"
  allowfullscreen
></iframe>

<p class="deck-link">
  <a href="https://palewi.re/docs/sva-dvc-3342a-slide-deck/lectures/social-science-in-a-hurry/">Open deck in a new tab</a>
</p>

## Class outline

1. **Kickoff**
2. **Introductions**
3. **Lecture**
4. **Questions**
5. **[Student survey](https://docs.google.com/forms/d/e/1FAIpQLSezxoxpL94RRMh1B-kQ0Mq1m7TCsK1BIRviqesv3i3zh9YdfQ/viewform?usp=header)**
6. **Break**
7. **Spreadsheet exercise**
8. **Homework**

## Homework

1. **Identify a measurable question.** Come up with a question based on something you've read in the news that can be answered with a number drawn from a dataset.
2. **Locate data that can provide the answer.** Try to find a publicly accessible dataset that you could use to answer your measurable question or propose how you might collect the data yourself.
3. **Prepare to present.** Next week, you will be asked to share your question and dataset with the whole class. Be ready.
